<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

<div class="container-contactos">
  <h1>Contactanos</h1>
  <div class="contact-info">
    <h2>Información de Contacto</h2>
    <ul>
      <li><strong>Correo Electrónico:</strong> RinconCatracho-HN@gmail.com</li>
      <li><strong>Número de Teléfono:</strong> +504 3282-5733</li>
    </ul>
  </div>
  <div class="red-social">
    <h2>Redes Sociales</h2>
    <ul>
      <li><strong><i class="fab fa-instagram"></i> Instagram:</strong> <a
          href=""
          target="_blank">Instagram.com/Rincon Catracho HN</a></li>
      <li><strong><i class="fab fa-facebook"></i> Facebook:</strong> <a href="https://www.facebook.com/people/Rincon-Catracho-HN/61551820457061/"
          target="_blank">Facebook.com/Rincon Catracho HN</a></li>
      <li><strong><i class="fab fa-whatsapp"></i> WhatsApp:</strong> <a
          href="https://web.whatsapp.com/send/?phone=31759776&text&type=phone_number&app_absent=1"
          target="_blank">WhatsApp/+504 3282-5733 </a></li>
    </ul>
  </div>
</div>S