<section class="title-Eventos">
    <H2>Eventos</H2>
</section>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="210" height="140" 
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Cumpleaños</title>
                <image href="/img/Cumpleaños.jpg" x="0" y="0" height="100%" width="100%"/>
            </svg>
            <h2 class="fw-normal">Cumpleaños</h2>
            <p>Nuestro equipo se encargará de todo para que tú solo tengas que preocuparte de disfrutar de tu día</p>
                        
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="210" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <image href="/img/bautismo.jpg" x="0" y="0" height="100%" width="100%"/>
                              
                
            </svg>
            <h2 class="fw-normal">Bautizos</h2>
            <p>Celebra este momento tan especial en un ambiente acogedor y familiar. Ofrecemos menús personalizados para que todos tus invitados queden encantados.</p>
            
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="210" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <image href="/img/aniversario.jpg" x="0" y="0" height="100%" width="100%"/>
            </svg>
            <h2 class="fw-normal">Aniversarios</h2>
            <p>Ya sea tu primer aniversario o tu cincuentenario, te ayudamos a celebrar tu amor de la manera más especial.</p>
            
        </div><!-- /.col-lg-4 -->
        
        <hr class="featurette-divider">

        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="210" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <image href="/img/Graduaciones.avif" x="0" y="0" height="100%" width="100%"/>
            </svg>
            <h2 class="fw-normal">Graduaciones</h2>
            <p>Después de tanto esfuerzo, es hora de celebrar tu logro. festeja tu graduación con nosotros y haz que sea un día inolvidable.</p>
            
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



    <hr class="featurette-divider">


</div><!-- /.container -->