<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 

<footer>
    
    <nav>
        <ul>
            <li><a href="https://www.facebook.com/people/Rincon-Catracho-HN/61551820457061/" target="_blank"><i class="fab fa-facebook"></i> Facebook  </a></li>
            <li><a href="https://www.facebook.com/people/Rincon-Catracho-HN/61551820457061/" target="_blank"><i class="fab fa-instagram"></i> Instagram  </a></li>
            <li><a href="https://web.whatsapp.com/send/?phone=31759776&text&type=phone_number&app_absent=1" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
        </ul>
    
     
    </nav>
    <p>Direccion: Río Abajo, Francisco Morazan, Honduras</p>
    <p>Teléfono: +504 3282-5733</p> 
    
    
    
    
</footer>