<section class="title-Galeria">
    <H2>GALERIA DE FOTOS</H2>
</section>

<section class="Galeria-container">
    <div class="galeria">
        <img src="Img/Galeria/420X236/img-1.jpg" alt="Imagen 1" class="gallery__img">
        <img src="Img/Galeria/420X236/img-2.jpg" alt="Imagen 2" class="gallery__img">
        <img src="Img/Galeria/420X236/img-3.jpg" alt="Imagen 3" class="gallery__img">
        <img src="Img/Galeria/420X236/img-4.jpg" alt="Imagen 3" class="gallery__img">
        <img src="Img/Galeria/420X236/img-5.jpg" alt="Imagen 3" class="gallery__img">
        <img src="Img/Galeria/420X236/img-6.jpg" alt="Imagen 3" class="gallery__img">
        <img src="Img/Galeria/420X236/img-7.jpg" alt="Imagen 1" class="gallery__img">
        <img src="Img/Galeria/420X236/img-8.jpg" alt="Imagen 2" class="gallery__img">
        <img src="Img/Galeria/420X236/img-9.jpg" alt="Imagen 3" class="gallery__img">
        <img src="Img/Galeria/420X236/img-10.jpg" alt="Imagen 3" class="gallery__img">
        <img src="Img/Galeria/420X236/img-11.jpg" alt="Imagen 3" class="gallery__img">
        <img src="Img/Galeria/420X236/img-12.jpg" alt="Imagen 3" class="gallery__img">
        <!-- Agrega más imágenes aquí -->
    </div>

</section>