<header>
    <input type="checkbox" id="check">
    <label class="hamburger" for="check">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <section class="branding">
        <img src="Img/img-15.jpg" alt="logo">
        <h1>Rincon Catracho Hn</h1>
    </section>
    <nav>
         <ul>
        <li><a href="index.html">Pagina Principal</a></li>
        <li><a href="Menu.html">Menu</a></li>
        <li><a href="Galeria.html">Galeria</a></li>
        <li><a href="Nosotros.html">Nosotros</a></li>
        <li><a href="Contactanos.html">Contactanos</a></li>
        <li><a href="Eventos.html">Eventos</a></li>
        <li><a href="Sugerencias.html">Sugerencias</a></li>
        <li><a href="Preguntas.html">Preguntas Frecuentes</a></li>
    </ul>
    </nav>
</header>