<section class="hero">
        <picture>
            <source srcset="/img/hero/hero.jpg" margin-top="50px" media="(min-width: 1024px)">
            <source srcset="/img/hero/IMG-20240411-WA0066.jpg" margin-top="50px" media="(min-width: 720px)">
            <source srcset="/img/hero/IMG-20240411-WA0066.jpg"  margin-top="50%" media="(min-width: 320px)">
            <img src="/img/" alt="Imagen portada que muestra el interior del restaurante">
        </picture>
        <h2>Restaurante Familiar <br> El Sabor De la Casa</h2>
                 
    </section>