<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active"
            aria-current="true"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100vw" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <image href="/img/Hero/IMG-20240411-WA0057.jpg"  width="100vw" media="(min-width: 1024px)"  />
                <image href="/img/Hero/IMG-20240411-WA0057.jpg"  width="100vw" media="(min-width: 768px)"  />
                <image href="/img/Hero/IMG-20240411-WA0057.jpg"  width="100vw" media="(min-width: 425px)"  />
                <rect width="100vw" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>QUIENES SOMOS</h1>
                    <p class="opacity-75">En esta sección conocerás un poco sobre de nuestra historia.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="Nosotros.html">Ver Quienes Somos</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <image href="/img/Menu.jpg" width="100vw" min-height="1024px" />
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>EXPLORA NUESTRO MENU</h1>
                    <p>En esta sección encontraras una variedad de platillo especiales con el sabor de la casa</p>
                    <p><a class="btn btn-lg btn-primary" href="Menu.html">Ver Menú</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <image href="/img/hero/IMG-20240411-WA0058.jpg" x="0" y="0%" width="100vw" min-height="1024px" />
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>NUESTRA GALERIA DE FOTOS</h1>
                    <p>En esta sección encontraras un repertorio de fotos de nuestro productos y ambiente</p>
                    <p><a class="btn btn-lg btn-primary" href="Galeria.html"> Ver Galeria</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>