<section class="title-Nosotros">
    <H2>Nosotros</H2>
</section>

<div class="container marketing"> 
      <!-- START THE FEATURETTES -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Misión<span
              class="text-body-secondary"></span></h2>
          <p class="lead">Generar experiencias fantásticas de servicio, priorizando la calidad de nuestros productos, el bienestar e igualdad de nuestros colaboradores, la seguridad y confianza de nuestros procesos de servicio, producción y cultura de cuidado al ser humano y ambiente.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="220"
            height="220" xmlns="/img/hero/IMG-20240411-WA0058.jpg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
          <image href="/img/mision.png" width="100%" height="100%" fill="var(--bs-secondary-bg)"/>
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Visión<span class="text-body-secondary"></span></h2>
          <p class="lead">Construir nuestro futuro como una marca líder de restaurantes con presencia en las principales ciudades de Honduras, generando bienestar para nuestros colaboradores, experiencias fantásticas de servicio a nuestros clientes y contribuir a una sociedad mas equitativa, inclusiva y responsable con el medio ambiente.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
            height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="/img/vision.png" width="120%" height="100%"  fill="var(--bs-secondary-bg)"/>
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Nuestros Valores <span
              class="text-body-secondary"></span></h2>
          <p class="lead">Honestidad, Honradez, Igualdad, Respeto, Lealtad, Compromiso, Calidad, Disciplina, Confianza, Seguridad.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
            height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="/img/valores.png" width="100%" fill="var(--bs-secondary-bg)"/>            
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Declaración social<span
              class="text-body-secondary"></span></h2>
          <p class="lead">No discrimina por motivos de: raza, religión, orientación sexual, condición física, nivel socioeconómico y ni por ningún otro motivo; además cuenta con una política de inclusión de grupos vulnerables y personas con VIH, para su personal clientes y proveedores.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="200"
            height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <image href="/img/social.png" width="100%" fill="var(--bs-secondary-bg)"/>            
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
