<section class="questions container" id="preguntas">
    <h2 class="subtitulo">Preguntas frecuentes</h2>
    <p class="questions-paragraph">Todo lo que necesites saber.</p>

    <section class="questions-container">
        <article class="questions-padding">
            <div class="questions-answer">
                <h3 class="questions-title">¿Cuál es el horario de apertura y cierre del restaurante?
                    <span class="questions-arrow">
                        <img src="./img/arrow.svg" class="questions-img">
                    </span>
                </h3>

                <p class="questions-show">Nuestro horario de atencion es de 7:30am a 8:30pm</p>
            </div>
        </article>

        <article class="questions-padding">
            <div class="questions-answer">
                <h3 class="questions-title">¿Aceptan tardeta de Credito/Debito?
                    <span class="questions-arrow">
                        <img src="./img/arrow.svg" class="questions-img">
                    </span>
                </h3>

                <p class="questions-show">Si, aceptamos pagos con tarjeta y transferencia</p>
            </div>
        </article>

        <article class="questions-padding">
            <div class="questions-answer">
                <h3 class="questions-title">¿Ofrecen opciones de menú para niños?
                    <span class="questions-arrow">
                        <img src="./img/arrow.svg" class="questions-img">
                    </span>
                </h3>

                <p class="questions-show">Sí, contamos con un menú especial para niños que incluye platos como hamburguesas, papas fritas, Tortillas, con quesillo y mucho mas.</p>
            </div>
        </article>

        <article class="questions-padding">
            <div class="questions-answer">
                <h3 class="questions-title">¿Ofrecen servicio de reserva de mesa?
                    <span class="questions-arrow">
                        <img src="./img/arrow.svg" class="questions-img">
                    </span>
                </h3>

                <p class="questions-show">Sí,Para hacer sus reserva puede contactarnos via Whatsapp.</p>
            </div>
        </article>

        <article class="questions-padding">
            <div class="questions-answer">
                <h3 class="questions-title">¿El restaurante cuenta con estacionamiento propio o hay opciones cercanas?
                    <span class="questions-arrow">
                        <img src="./img/arrow.svg" class="questions-img">
                    </span>
                </h3>

                <p class="questions-show">No contamos con un estacionamiento privado. Pero hay amplio espacio alfrente del Local</p>
            </div>
        </article>
        <article class="questions-padding">
            <div class="questions-answer">
                <h3 class="questions-title">¿Cuentan con servicio a domicilio?
                    <span class="questions-arrow">
                        <img src="./img/arrow.svg" class="questions-img">
                    </span>
                </h3>

                <p class="questions-show">Si, puedes realizar tu pedido a domicilio via Whatsapp</p>
            </div>
        </article>
        <article class="questions-padding">
            <div class="questions-answer">
                <h3 class="questions-title">¿Hacen reservas para eventos privados?
                    <span class="questions-arrow">
                        <img src="./img/arrow.svg" class="questions-img">
                    </span>
                </h3>

                <p class="questions-show">Si, puedes realizar tu solicitud via Whatsapp</p>
            </div>
        </article>
    </section>

</section>